body{
        background-color: #001931;
    }


button {
    border: 1px solid #ff2b4e;
	background-color: #ff2b4e;
	color: #ccc;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 100px;
	height: 100%;
	text-align: center;
}

input {
	background-color:rgb(68, 67, 66);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%;
}
img {
  margin-left: 220px;
  width: 60%;
  border: 3px solid rgb(56, 77, 56);
  padding: 10px;
}
